:root{
    --primaria : #35A827;
    --cor: #f3f3f3;
    --secundaria:rgb(121, 216, 109);
    --botao-2: #AC3CF6;
    --up:#2eb1a3;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100dvh;
    background-color: var(--fundo);
    color: var(--cor);
    font-family: "Poppins", sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


.bg{
    background: linear-gradient(150deg, rgba(172, 60, 246, 0.2), var(--primaria));
}


body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

  }
  
 
  #app-container {
    width: 100%;
    max-width: 414px; 
    max-height: 896px; 
    height: 100%;
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  
  .header {
    flex: 0 0 auto;
    height: 110px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-inline: 1rem;
    border-bottom: 5px solid var(--primaria);   
  }
  
  
  .content {
    flex: 1 1 auto;
    padding: 10px;
    overflow-y: auto; 
    font-size: 16px;
    color: #333;
  }
  

  .footer {
    height: 100px;
    border-top: 5px solid var(--primaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
  }
  
.btn_navbar{
    background-color: transparent;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.25rem;
    font-weight: bold;
}

.btn_navbar.home{
    background-color: var(--primaria);
    color: var(--cor);
}

.btn_navbar:hover{
    background-color: var(--primaria);
    color: var(--cor);
}

.link_navbar{
    text-decoration: none;
    color: var(--cor);
}

.pesquisa{
    border: 4px solid var(--primaria);
    border-radius: 30px;
    padding-inline: 1rem;
    padding-right: 2.5rem; 
    padding-block: 7px;
}

.pesquisa:focus {
    outline: none;
    border: 4px solid var(--primaria);
}

.btn_pesquisa{
    background:transparent;
    border: none;
    margin-left: -40px;
    color: var(--primaria);
}

.icon{
    font-size: 1.5rem;
}   
/* daqui para baixo é a sadbar*/
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secundaria);
    position: absolute;
    height: 100dvh;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.nav a{
    margin-inline: auto;
    background-color: var(--primaria);
    border-radius: 30px;
}

.nav button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    gap: 1rem;
    background-color: transparent;
    border: none;
    color: var(--cor);

}

.recolher{
    width:100%;
    display: flex;
    justify-content: start;
    padding: 1rem;
}

.btn_recolher{
    background-color: var(--primaria);
    color: var(--cor);
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.25rem;
    font-weight: bold;
}

.menu-active{
    transform: translateX(0);
}